/* Обнуление и root*/
@import "../css/null.css";
@import "../css/root.css";

/* -------------------- */

body {}

body.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    // ------
    overflow: hidden;
    // ------
}


.container {
    padding: 30px 0px;
    margin: 0px auto;
    flex: 1 1 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background-color: var(--background-color-fff);

    .header__container {
        // если нужно ограничить экран размером как на макете
        // max-width: 1280px;
        // ---------------------
        margin: 0px auto;
        display: flex;
        padding: 0px 26px 0 33px;
        align-items: center;
        justify-content: space-between;
        min-height: 68px;

        .header__logo,
        .header__help {
            width: 295px;
            position: relative;
            z-index: 205;
        }

        .header__logo {
            margin-right: 28px;
        }

        .header__help {
            width: 44px;
        }

        .header__logo img,
        .header__help img {
            max-width: 100%;
        }
    }

    @media (max-width: 799px) {
        .header__container {
            flex-direction: row-reverse;
            min-height: 48px;
            padding: 0px 21px 0 16px;

            .header__help {
                display: none;
            }

            .header__logo {
                width: 195px;
            }
        }
    }
}

.menu {}

// Burger start
.header__menu {
    display: flex;
    position: relative;

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
        cursor: pointer;
    }

    @media (max-width: 799px) {
        .menu__icon {
            width: 22px;
            height: 18px;
        }
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--background-color-004685);
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--background-color-ccc);
        padding: 100px 70px 30px 70px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
        background-color: var(--background-color-dedcdc);
    }

    .menu__body._active::before {
        background-color: var(--background-color-dedcdc);
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 68px;
        z-index: 2;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .menu__list>li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }

    @media (max-width: 799px) {
        .menu__list>li {
            margin: 0px 0px 40px 0px;
            text-align: center;
        }
    }

    .menu__list>li:last-child {
        margin-bottom: 0;
    }

    .menu__list>li._active .menu__sub-list {
        display: block;
    }

    #menu__enter-button {
        margin: 0;
        padding: 14px 32px;
        color: var(--color-fff);
        background: var(--background-d30531) 0% 0% no-repeat padding-box;
        border-radius: 8px;
        font-size: 24px;
        font-weight: 600;
        border: none;
        cursor: pointer;

        &:hover {
            background: var(--background-be042c) 0% 0% no-repeat padding-box;
        }

        &:active {
            background-color: var(--background-eb103f);
            position: relative;
            top: 2px;
            -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.5);
        }
    }

    .menu__link {
        font-size: 24px;
        font-weight: 600;
    }

    @media (max-width: 799px) {
        .menu__link {
            font-size: 16px;
        }
    }

    .menu__sub-list {
        position: relative;
        flex: 1 1 100%;
        margin: 20px 0px 0px 0px;
        display: none;
    }

    .menu__sub-link {
        font-size: 20px;
        color: var(--color-000);
    }
}

.header__help._active {
    & img {
        display: none;
    }
}

// Burger end

.page_section {}

.page_section_1 {
    background-image: url("../img/background_img.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 68px 0 0 0;
    position: relative;
    min-height: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .section_1__container {
        padding: 0 30px;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;

        .page_section_1__row {
            margin: -20px 0px 0px 0px;

            .page_section_1__title {
                font-size: 36px;
                color: var(--color-fff);
                margin: 0 0 20px 1px;
                font-weight: 600;
            }

            .page_section_1__search {
                margin: 0 0 14px 0;
                display: flex;
                justify-content: space-between;

                .search_input {
                    padding: 19px 23px;
                    color: rgba(0, 0, 0, 0.46);
                    font-size: 16px;
                    flex-grow: 1;
                    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
                    border: 2px solid rgba(0, 70, 133, 0.2);
                    border-radius: 8px;
                    transition: all 0.3s;
                    height: 63px;
                }

                .search_input:focus {
                    color: var(--color-000);
                }

                .search_button {
                    margin: 0 0 0 17px;
                    padding: 14px 32px;
                    color: #fff;
                    background: var(--background-d30531) 0% 0% no-repeat padding-box;
                    border-radius: 8px;
                    font-size: 24px;
                    font-weight: 600;
                    border: none;
                    cursor: pointer;
                    height: 63px;

                    &:hover {
                        background: var(--background-be042c) 0% 0% no-repeat padding-box;
                    }

                    &:active {
                        background-color: var(--background-eb103f);
                        position: relative;
                        top: 2px;
                        -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
                        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
                    }
                }

                .search_button-small {
                    display: none;
                }
            }

            .page_section_1__text {
                font-size: 16px;
                color: var(--color-fff);
                margin: 0 0 0 1px;
            }
        }
    }

    @media (max-width: 799px) {
        .section_1__container {
            padding: 0 20px;

            .page_section_1__row {
                margin: 0;

                .page_section_1__title {
                    font-size: 20px;
                    text-align: center;
                    margin: 0 0 22px 0px;
                }

                .page_section_1__search {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 4px;
                    background: var(--background-fff);
                    border: 2px solid rgba(0, 70, 133, 0.2);
                    margin: 0 0 12px 0;

                    .search_input {
                        color: var(--color-A1A1A1);
                        font-size: 16px;
                        flex: 1;
                        padding: 13px 10px;
                        border: none;
                        height: 44px;
                    }

                    .search_button-small {
                        flex-shrink: 0;
                        border-radius: 50px;
                        background: var(--background-fff);

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 10px;
                        z-index: 3;
                    }

                    .search_button-small img {
                        width: 28px;
                    }

                    .search_button {
                        display: none;
                    }

                    .search_button img {
                        width: 30px;
                        height: 30px;
                    }
                }

                .page_section_1__text {
                    color: rgba(255, 255, 255, 1);
                    font-size: 12px;
                    line-height: 1.1;
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 799px) {
    .page_section_1 {
        min-height: 215px;
        margin: 48px 0 0 0;
    }
}

.navigation {
    width: 100%;
    margin-bottom: 4px;
}

.navigation__container {
    max-width: 562px;
    margin: 0 auto;
}

.navigation__title {
    padding: 67px 0 26px 2px;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.8px;
}

.navigation__second-title {
    display: none;
}

.navigation__body {}

.navigation__list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    color: #004685;

    & li {
        margin: 0 14px 18px 14px;
        border-bottom: 1px dotted #004685;
        display: inline;

        & a {
            color: #004685;
        }

        &:last-child {
            color: #000000;
            border-bottom: none;
            letter-spacing: -0.5px;
            padding: 0 0 0 3px;
        }
    }
}

@media (max-width: 799px) {

    .navigation__title,
    .navigation__body {
        display: none;
    }

    .navigation__second-title {
        display: block;
        font-size: 20px;
        font-weight: 600;
        padding: 32px 0 17px 0;
        text-align: center;
    }
}

/* section_2 start*/
.container {
    min-height: 100%;
}

.block {
    margin: 0px 0px 68px 0px;
}

@media (max-width: 799px) {
    .block {
        margin: 0px 0px 30px 0px;
    }
}

.block__item {
    border-bottom: 1px solid rgba(0, 70, 133, 0.2);
}

@media (min-width: 800px) {
    .item__block {
        border-bottom: none;
    }
}

.block__item-shell {
    margin: 0 auto;
    height: 440px;
    display: flex;
    justify-content: center;
    max-width: 1020px;
    padding: 0 30px;
}

.block__item-text {
    margin-top: 59px;
    flex: 1;
}

@media (max-width: 799px) {
    .block__item-text {
        margin-top: 0px;
    }
}

.block__item-img {
    margin: 60px 0 0 40px;
    width: 320px;
}

.img-left {
    margin: 60px 40px 0 0;
}

.block__title {
    width: 100%;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    background-color: transparent;
    color: #000;
    margin-bottom: 22px;
    position: relative;
}

.block__title img {
    display: none;
}

.block._init .block__title {
    cursor: pointer;
    padding: 10px 40px 10px 0px;
}

.block._init .block__title::before,
.block._init .block__title::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 5px;
    transition: transform 0.3s ease 0s;
}

.block._init .block__title::after {
    transform: rotate(0deg);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #004685;
}

.block._init .block__title._active::after {
    transform: rotate(180deg);
}

.block__text {
    font-size: 16px;
    color: #000;
}

.block__text-p1 {
    margin: 0 0 15px 0;
    line-height: 148%;
}

.block__text-p2 {
    margin: 0 0 40px 0;
    line-height: 140%;
}

.block__text-p3 {
    margin: 0 0 10px 0;
    line-height: 145%;
}

@media (max-width: 799px) {
    .block__text {
        padding: 12px 6px 0px 6px;
    }

    .block__text-p2 {
        margin: 0 0 28px 0;
    }

    .block__text-p3 {
        margin: 0 0 21px 0;
    }
}

// -----------
.p3__pix-perf-item1 {
    max-width: 580px;
}

.p1__pix-perf-item2 {
    margin: 0 0 14px 0;
}

.p2__pix-perf-item2 {
    margin: 0 0 39px 0;
}

.p2__pix-perf-item3 {
    line-height: 145%;
}

.p2__pix-perf-item4 {
    width: 100%;
}

.p3__pix-perf-item4 {
    width: 100%;
}

// -----------


.block__text h4 {
    color: rgba(211, 5, 49, 1);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
}

@media (max-width: 799px) {
    .block__item {
        padding: 0 14px;
    }

    .block__item-shell {
        display: contents;
        height: auto;
    }

    .block__item-img {
        display: none;
    }

    .block__title {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin: 0;
    }

    .block__title img {
        display: block;
        width: 44px;
        margin: 0 20px 0 0;
    }

    .block._init .block__title {
        cursor: pointer;
        padding: 5px 40px 6px 0px;
    }

    .block__title p {
        color: rgba(0, 70, 133, 1);

        border-bottom: 1px solid rgba(0, 70, 133, 0.2);
    }
}

/* section_2 end*/



/* section_3 start */
.page_section {}

.page_section_3 {
    margin: 0 0 60px 0;

    .section_3__container {
        margin: 0 auto;

        .partners__title {
            font-size: 36px;
            font-weight: 600;
            text-align: center;
            margin: 0 0 59px 0;
        }

        .partners {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .partner {
                width: 160px;
                text-align: center;

                .partner__img {
                    width: 100%;
                    margin: 0 0 18px 0;
                    align-self: auto;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .partner__img img {
                    max-width: 160px;
                    max-height: 100px;
                }

                .partner__text {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1.2;
                }
            }

            @media (max-width: 799px) {
                .partner {
                    margin: 0 12px 32px 12px;
                    width: 148px;

                    .partner__img {
                        margin: 0 0 11px 0;
                    }
                }
            }

            @media (max-width: 359px) {
                .partner {
                    margin: 0 12px;
                    width: 136px;
                }
            }
        }

        @media (max-width: 799px) {
            .partners__title {
                font-size: 20px;
                margin: 0 0 30px 0;
            }
        }
    }
}

@media (max-width: 799px) {
    .page_section_3 {
        margin-bottom: 3px;
    }
}

/* section_3 end */


/* footer start */
.footer {
    width: 100%;
    z-index: 200;
    background: rgba(0, 70, 133, 0.2) 0% 0% no-repeat padding-box;

    .footer__container {
        // если нужно ограничить экран размером как на макете
        // max-width: 1280px;
        // ---------------------
        margin: 0px auto;
        height: 135px;

        .footer__body {
            display: flex;
            padding: 0px 35px 0px 32px;
            justify-content: space-between;

            .footer__text {
                padding: 40px 0 0 0;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.4;
            }

            .footer__img {
                padding: 34px 0 0 0;

                & img {
                    width: 79px;
                }
            }
        }
    }

    @media (max-width: 799px) {
        .footer__container {
            height: 126px;

            .footer__body {
                text-align: center;
                flex-direction: column;
                padding: 0px 16px 0px 16px;

                .footer__text {
                    font-size: 12px;
                    padding: 20px 0 17px 0;

                    & br {
                        display: none;
                    }
                }

                .footer__img {
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
}

/* footer end */



/* popup start*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 999;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -68px;
    padding: 100px 10px 30px 10px;
}

@media (max-width: 799px) {
    .popup__body {
        margin-top: 0;
        padding: 0;
        height: 100%
    }
}

.popup__content {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

    margin-top: 68px;
    width: 400px;
    height: 469px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
}

@media (max-width: 480px) {
    .popup__content {
        margin-top: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.popup__title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin: 40px 40px 32px 40px;
    line-height: 1.5;
}

.popup__content input[type="text"],
.popup__content input[type="password"] {
    width: calc(100% - 80px);
    margin: 0px 40px 16px 40px;
    padding: 17px 22px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #00468533;
    border-radius: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.459);
}

@media (max-width: 480px) {
    .popup__title {
        margin: 22px 20px 32px 20px;
    }

    .popup__content input[type="text"],
    .popup__content input[type="password"] {
        width: calc(100% - 40px);
        margin: 0px 20px 16px 20px;
        padding: 17px 22px;
    }
}

.popup__content input[type="password"] {
    margin-bottom: 23px;
}

.popup__content input:focus {
    color: #000000;
}

.popup__content button {
    background: #E1133F 0% 0% no-repeat padding-box;
    border-radius: 8px;
    padding: 13px 32px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    width: calc(100% - 80px);
    margin: 0px 40px 34px 40px;
    border: none;
    cursor: pointer;
}

.popup__link {
    margin: 0 0 22px 0;
}

.popup__content p a {
    margin: 0 40px 16px 40px;
    color: #004685;
    font-size: 16px;

    border-bottom: 1px dotted #004685;
    display: inline;
}

@media (max-width: 480px) {
    .popup__content button {
        width: calc(100% - 40px);
        margin: 0px 20px 33px 20px;
        padding: 14px 22px;
    }

    .popup__content p a {
        margin: 0 20px 16px 20px;
    }
}

.close__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 28px;
    height: 25px;
    cursor: pointer;
}

.close__icon span,
.close__icon::before,
.close__icon::after {
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgba(0, 0, 0, 0.2);
}

.close__icon::before,
.close__icon::after {
    content: "";
}

.close__icon span {
    right: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
}

.close__icon::before {
    right: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
}

.close__icon::after {
    display: none;
}

/* popup end*/



/* pop-up start*/
.pop-up {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    transform: translate(-80%, 5%);
    width: 241px;
    height: 159px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

.pop-up::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -20px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 999;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.pop-up::after {
    content: '';
    position: absolute;
    top: -26px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 998;
    width: 0;
    height: 0;
    border-width: 11px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
    box-shadow: none;
    filter: blur(3px);
}

.help__popup:hover .pop-up {
    display: block;
}

.pop-up__text {
    margin: 26px 16px 10px 16px;
    font-size: 16px;

    text-align: center;
}

.pop-up__call {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.pop-up__mail {
    font-size: 16px;
    font-weight: 600;

    text-align: center;

    & a {
        color: rgba(0, 70, 133, 1);
        text-decoration: underline;
    }
}

/* pop-up end*/